<section
  class="home_section d-flex justify-content-center align-items-center h-80vh"
  id="home-section"
>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 text-center">
        <h1 class="display-4 mb-4">Welcome to My Todo</h1>
        <div
          class="card mx-auto my-4 shadow-lg"
          style="
            width: 100%;
            max-width: 24rem;
            border-radius: 10px;
            overflow: hidden;
          "
        >
          <div class="card-body">
            <h5 class="card-title">Manage Your To-Do List</h5>
            <p class="card-text lead pt-2">
              Stay organized and keep track of your tasks effortlessly. Add,
              filter, and search through your tasks to find what needs to be
              done quickly. Remember to save your progress or download your list
              as a CSV file for backup.
            </p>
            <button
              class="btn btn-primary me-2"
              type="button"
              (click)="onShowModal()"
            >
              Add a New Task
            </button>
            <a [routerLink]="'/tasks'" class="btn btn-outline-secondary"
              >View Tasks</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-modal title="Add New Task">
  <form [formGroup]="addTaskForm" (ngSubmit)="onSubmit()">
    <!-- Title -->
    <div class="form-group row">
      <label for="title" class="col-sm-4 col-form-label"
        >Title<span class="text-danger">*</span></label
      >
      <div class="col-sm-8">
        <input
          type="text"
          id="title"
          class="form-control"
          formControlName="title"
          [ngClass]="{
            'is-invalid':
              addTaskForm.get('title')?.invalid &&
              (addTaskForm.get('title')?.dirty ||
                addTaskForm.get('title')?.touched)
          }"
        />
        <div
          *ngIf="
            addTaskForm.get('title')?.invalid &&
            (addTaskForm.get('title')?.dirty ||
              addTaskForm.get('title')?.touched)
          "
          class="invalid-feedback"
        >
          Title is required.
        </div>
      </div>
    </div>

    <!-- Description -->
    <div class="form-group row">
      <label for="description" class="col-sm-4 col-form-label"
        >Description</label
      >
      <div class="col-sm-8">
        <textarea
          id="description"
          class="form-control"
          formControlName="description"
        ></textarea>
      </div>
    </div>

    <!-- Status -->
    <div class="form-group row">
      <label for="status" class="col-sm-4 col-form-label"
        >Status<span class="text-danger">*</span></label
      >
      <div class="col-sm-8">
        <select
          id="status"
          class="form-control"
          formControlName="status"
          [ngClass]="{
            'is-invalid':
              addTaskForm.get('status')?.invalid &&
              (addTaskForm.get('status')?.dirty ||
                addTaskForm.get('status')?.touched)
          }"
        >
          <option value="">Select Status</option>
          <option value="pending">Pending</option>
          <option value="in-progress">In Progress</option>
          <option value="completed">Completed</option>
          <option value="overdue">Overdue</option>
        </select>
        <div
          *ngIf="
            addTaskForm.get('status')?.invalid &&
            (addTaskForm.get('status')?.dirty ||
              addTaskForm.get('status')?.touched)
          "
          class="invalid-feedback"
        >
          Status is required.
        </div>
      </div>
    </div>

    <!-- Due Date -->
    <div class="form-group row">
      <label for="dueDate" class="col-sm-4 col-form-label">Due Date</label>
      <div class="col-sm-8">
        <input
          type="date"
          id="dueDate"
          class="form-control"
          formControlName="dueDate"
        />
      </div>
    </div>

    <!-- Priority -->
    <div class="form-group row">
      <label for="priority" class="col-sm-4 col-form-label">Priority</label>
      <div class="col-sm-8">
        <select id="priority" class="form-control" formControlName="priority">
          <option value="low">Low</option>
          <option value="medium">Medium</option>
          <option value="high">High</option>
        </select>
      </div>
    </div>

    <!-- Submit Button -->
    <div class="modal-footer mt-4">
      <button type="submit" class="btn btn-primary">Save</button>
      <button type="button" class="btn btn-danger" (click)="onCloseDialog()">
        Close
      </button>
    </div>
  </form>
</app-modal>
