<button
  class="btn btn-primary"
  [ngClass]="data.id ? 'btn btn-sm mr-1' : ''"
  (click)="onShowModal()"
>
  {{ btnLabel }}
</button>

<app-modal title="Task Form">
  <form [formGroup]="addTaskForm" (ngSubmit)="onSubmit()">
    <!-- Title -->
    <div class="form-group row">
      <label for="title" class="col-sm-4 col-form-label"
        >Title<span class="text-danger">*</span></label
      >
      <div class="col-sm-8">
        <input
          type="text"
          id="title"
          class="form-control"
          formControlName="title"
          [ngClass]="{
            'is-invalid':
              addTaskForm.get('title')?.invalid &&
              (addTaskForm.get('title')?.dirty ||
                addTaskForm.get('title')?.touched)
          }"
        />
        <div
          *ngIf="
            addTaskForm.get('title')?.invalid &&
            (addTaskForm.get('title')?.dirty ||
              addTaskForm.get('title')?.touched)
          "
          class="invalid-feedback"
        >
          Title is required.
        </div>
      </div>
    </div>

    <!-- Description -->
    <div class="form-group row">
      <label for="description" class="col-sm-4 col-form-label"
        >Description</label
      >
      <div class="col-sm-8">
        <textarea
          id="description"
          class="form-control"
          formControlName="description"
        ></textarea>
      </div>
    </div>

    <!-- Status -->
    <div class="form-group row">
      <label for="status" class="col-sm-4 col-form-label"
        >Status<span class="text-danger">*</span></label
      >
      <div class="col-sm-8">
        <select
          id="status"
          class="form-control"
          formControlName="status"
          [ngClass]="{
            'is-invalid':
              addTaskForm.get('status')?.invalid &&
              (addTaskForm.get('status')?.dirty ||
                addTaskForm.get('status')?.touched)
          }"
        >
          <option value="">Select Status</option>
          <option *ngFor="let status of statusOptions" [value]="status">
            {{ status | capitalize }}
          </option>
        </select>
        <div
          *ngIf="
            addTaskForm.get('status')?.invalid &&
            (addTaskForm.get('status')?.dirty ||
              addTaskForm.get('status')?.touched)
          "
          class="invalid-feedback"
        >
          Status is required.
        </div>
      </div>
    </div>

    <!-- Priority -->
    <div class="form-group row">
      <label for="priority" class="col-sm-4 col-form-label"
        >Priority<span class="text-danger">*</span></label
      >
      <div class="col-sm-8">
        <select
          id="priority"
          class="form-control"
          formControlName="priority"
          [ngClass]="{
            'is-invalid':
              addTaskForm.get('priority')?.invalid &&
              (addTaskForm.get('priority')?.dirty ||
                addTaskForm.get('priority')?.touched)
          }"
        >
          <option value="">Select Priority</option>
          <option *ngFor="let priority of priorityOptions" [value]="priority">
            {{ priority | capitalize }}
          </option>
        </select>
        <div
          *ngIf="
            addTaskForm.get('priority')?.invalid &&
            (addTaskForm.get('priority')?.dirty ||
              addTaskForm.get('priority')?.touched)
          "
          class="invalid-feedback"
        >
          Priority is required.
        </div>
      </div>
    </div>

    <!-- Due Date -->
    <div class="form-group row">
      <label for="dueDate" class="col-sm-4 col-form-label">Due Date</label>
      <div class="col-sm-8">
        <input
          type="date"
          id="dueDate"
          class="form-control"
          formControlName="dueDate"
        />
      </div>
    </div>

    <!-- Completed -->
    <div class="form-group row">
      <label for="completed" class="col-sm-4 col-form-label">Completed</label>
      <div class="col-sm-8">
        <input
          type="checkbox"
          id="completed"
          class="form-control"
          formControlName="completed"
        />
      </div>
    </div>

    <!-- Submit Button -->
    <div class="modal-footer mt-4">
      <button type="submit" class="btn btn-primary">Save</button>
      <button type="button" class="btn btn-danger" (click)="onCloseDialog()">
        Close
      </button>
    </div>
  </form>
</app-modal>
