<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">My Todo</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarContent"
      aria-controls="navbarContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/home']"
            routerLinkActive="active"
            routerLink
            aria-current="page"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/tasks']"
            routerLinkActive="active"
            >Tasks</a
          >
        </li>
        <!-- <li class="nav-item">
          <button class="nav-link" type="button" (click)="onDownload()">
            Download CSV
          </button>
        </li> -->
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item dropdown" (click)="onProfile()">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button">
            {{ user.name }}
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdown"
          >
            <li><a class="dropdown-item" routerLink="/profile">Profile</a></li>
            <li>
              <a class="dropdown-item" routerLink="/settings">Settings</a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" routerLink="/logout">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
