<div class="container mt-4">
  <!-- Search and Filter -->

  <div class="row mb-3">
    <div class="col-md-8 text-left">
      <button class="btn btn-primary mr-2" (click)="addNewTask()">
        Add New Task
      </button>
      <!-- <input
        type="file"
        accept=".csv"
        (change)="onFileChange($event)"
        hidden
        #fileInput
      />
      <button class="btn btn-info text-white mr-2" (click)="selectCSV()">
        Upload CSV
      </button> -->
      <ng-container *ngIf="selectedFileName">
        {{ selectedFileName }}
        <button
          class="btn btn-success btn-sm text-white mr-2"
          (click)="onUploadCSV()"
        >
          {{ isUploading ? "Uploading..." : "Upload" }}
        </button>
      </ng-container>
    </div>
  </div>

  <!-- Toggle Advanced Filters -->
  <!-- <div class="row mb-3">
    <div class="col-md-12 text-right">
      <button class="btn btn-secondary" (click)="toggleAdvancedFilters()">
        {{ showAdvancedFilters ? "Hide" : "Show" }} Advanced Filters
      </button>
    </div>
  </div> -->

  <!-- Advanced Filters -->
  <div>
    <div class="col-md-4 mb-2">
      <input
        type="text"
        class="form-control"
        placeholder="Search tasks Eg. Task Title"
        [(ngModel)]="searchedTaskTitle"
        (ngModelChange)="search()"
      />
    </div>
  </div>

  <!-- Task Table -->
  <div class="table-responsive">
    <table class="table table-striped table-bordered mt-4">
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Status</th>
          <th>Due Date</th>
          <th>Priority</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="isLoading">
          <div class="w-100">
            <p class="text-center">Loading....</p>
          </div>
        </ng-container>

        <ng-container *ngIf="!isLoading">
          <ng-container *ngIf="tasks && tasks.length > 0">
            <tr *ngFor="let task of tasks; trackBy: trackByTaskId">
              <td>{{ task.title }}</td>
              <td>{{ task.description }}</td>
              <td>{{ task.status | capitalize }}</td>
              <td>{{ task.dueDate | date }}</td>
              <td>{{ task.priority ? (task.priority | capitalize) : "" }}</td>
              <td>
                <button
                  class="btn btn-warning btn-sm mr-2"
                  (click)="editTask(task)"
                >
                  Edit
                </button>

                <button
                  class="btn btn-danger btn-sm"
                  (click)="deleteTask(task)"
                >
                  Delete
                </button>
              </td>
            </tr>
          </ng-container>
          <ng-container *ngIf="!tasks || tasks.length === 0">
            <tr class="alert alert-info" role="alert">
              <td colspan="6" class="text-center">No tasks found.</td>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>

<app-modal title="Task Form">
  <form [formGroup]="addTaskForm" (ngSubmit)="onSubmit()">
    <div class="form-group row">
      <label for="title" class="col-sm-4 col-form-label">
        Title<span class="text-danger">*</span>
      </label>
      <div class="col-sm-8">
        <input
          type="text"
          id="title"
          class="form-control"
          formControlName="title"
          [ngClass]="{
            'is-invalid':
              addTaskForm.get('title')?.invalid &&
              (addTaskForm.get('title')?.dirty ||
                addTaskForm.get('title')?.touched)
          }"
        />
        <div
          *ngIf="
            addTaskForm.get('title')?.invalid &&
            (addTaskForm.get('title')?.dirty ||
              addTaskForm.get('title')?.touched)
          "
          class="invalid-feedback"
        >
          Title is required.
        </div>
      </div>
    </div>

    <!-- Description -->
    <div class="form-group row">
      <label for="description" class="col-sm-4 col-form-label">
        Description
      </label>
      <div class="col-sm-8">
        <textarea
          id="description"
          class="form-control"
          formControlName="description"
        ></textarea>
      </div>
    </div>

    <!-- Status -->
    <div class="form-group row">
      <label for="status" class="col-sm-4 col-form-label">
        Status<span class="text-danger">*</span>
      </label>
      <div class="col-sm-8">
        <select
          id="status"
          class="form-control"
          formControlName="status"
          [ngClass]="{
            'is-invalid':
              addTaskForm.get('status')?.invalid &&
              (addTaskForm.get('status')?.dirty ||
                addTaskForm.get('status')?.touched)
          }"
        >
          <option value="">Select Status</option>
          <option *ngFor="let status of statusOptions" [value]="status">
            {{ status | capitalize }}
          </option>
        </select>
        <div
          *ngIf="
            addTaskForm.get('status')?.invalid &&
            (addTaskForm.get('status')?.dirty ||
              addTaskForm.get('status')?.touched)
          "
          class="invalid-feedback"
        >
          Status is required.
        </div>
      </div>
    </div>

    <!-- Due Date -->
    <div class="form-group row">
      <label for="dueDate" class="col-sm-4 col-form-label"> Due Date </label>
      <div class="col-sm-8">
        <input
          type="date"
          id="dueDate"
          class="form-control"
          formControlName="dueDate"
        />
      </div>
    </div>

    <!-- Priority -->
    <div class="form-group row">
      <label for="priority" class="col-sm-4 col-form-label"> Priority </label>
      <div class="col-sm-8">
        <select
          id="priority"
          class="form-control"
          formControlName="priority"
          [ngClass]="{
            'is-invalid':
              addTaskForm.get('priority')?.invalid &&
              (addTaskForm.get('priority')?.dirty ||
                addTaskForm.get('priority')?.touched)
          }"
        >
          <option value="">Select Priority</option>
          <option *ngFor="let priority of priorityOptions" [value]="priority">
            {{ priority | capitalize }}
          </option>
        </select>
        <div
          *ngIf="
            addTaskForm.get('priority')?.invalid &&
            (addTaskForm.get('priority')?.dirty ||
              addTaskForm.get('priority')?.touched)
          "
          class="invalid-feedback"
        >
          Priority is required.
        </div>
      </div>
    </div>

    <!-- Submit Button -->
    <div class="modal-footer mt-4">
      <button type="submit" class="btn btn-primary">Save</button>
      <button type="button" class="btn btn-danger" (click)="onCloseDialog()">
        Close
      </button>
    </div>
  </form>
</app-modal>
