<div
  *ngIf="isVisible"
  class="modal fade show d-block"
  tabindex="-1"
  role="dialog"
>
  <div class="modal-backdrop show"></div>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-spacebetween">
        <h5 class="modal-title">{{ title ? title : "Modal" }}</h5>
        <button
          type="button"
          class="close btn p-1"
          (click)="close()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ng-content></ng-content>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="save()">
          Save
        </button>
        <button type="button" class="btn btn-danger" (click)="close()">
          Close
        </button>
      </div> -->
    </div>
  </div>
</div>
