<div class="container mt-4">
  <!-- Search and Filter -->

  <div class="row mb-3">
    <div class="col-md-8 text-left">
      <button class="btn btn-primary mr-2" (click)="addNewCar()">
        Add New Car
      </button>
      <input
        type="file"
        accept=".csv"
        (change)="onFileChange($event)"
        hidden
        #fileInput
      />
      <button class="btn btn-info text-white mr-2" (click)="selectCSV()">
        Upload CSV
      </button>
      <ng-container *ngIf="selectedFileName">
        {{ selectedFileName }}
        <button
          class="btn btn-success btn-sm text-white mr-2"
          (click)="onUploadCSV()"
        >
          {{ isUploading ? "Uploading..." : "  Upload" }}
        </button>
      </ng-container>
    </div>
  </div>

  <!-- Toggle Advanced Filters -->
  <!-- <div class="row mb-3">
    <div class="col-md-12 text-right">
      <button class="btn btn-secondary" (click)="toggleAdvancedFilters()">
        {{ showAdvancedFilters ? "Hide" : "Show" }} Advanced Filters
      </button>
    </div>
  </div> -->

  <!-- Advanced Filters -->
  <div>
    <div class="col-md-4 mb-2">
      <input
        type="text"
        class="form-control"
        placeholder="Search cars Eg. Toyota"
        [(ngModel)]="searchedCarName"
        (ngModelChange)="search()"
      />
    </div>
    <app-car-filter (filterChanged)="onFilterChanged($event)"></app-car-filter>
  </div>

  <!-- Car Table -->
  <div class="table-responsive">
    <table class="table table-striped table-bordered mt-4">
      <thead>
        <tr>
          <th>Name</th>
          <th>MPG</th>
          <th>Cylinders</th>
          <th>Displacement</th>
          <th>Horsepower</th>
          <th>Weight</th>
          <th>Acceleration</th>
          <th>Model Year</th>
          <th>Origin</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="isLoading">
          <div class="w-100">
            <p class="text-center">Loading....</p>
          </div>
        </ng-container>

        <ng-container *ngIf="!isLoading">
          <ng-container *ngIf="cars && cars.length > 0">
            <tr *ngFor="let car of cars; trackBy: trackByCarId">
              <td>{{ car.name }}</td>
              <td>{{ car.mpg }}</td>
              <td>{{ car.cylinders }}</td>
              <td>{{ car.displacement }}</td>
              <td>{{ car.horsepower }}</td>
              <td>{{ car.weight }}</td>
              <td>{{ car.acceleration }}</td>
              <td>{{ car.modelYear }}</td>
              <td>{{ car.origin | capitalize }}</td>
              <td>
                <button
                  class="btn btn-warning btn-sm mr-2"
                  (click)="editCar(car)"
                >
                  Edit
                </button>

                <button class="btn btn-danger btn-sm" (click)="deleteCar(car)">
                  Delete
                </button>
              </td>
            </tr>
          </ng-container>
          <ng-container *ngIf="!cars || cars.length === 0">
            <tr class="alert alert-info" role="alert">
              <td colspan="10" class="text-center">No cars found.</td>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>

<app-modal title="Car Form">
  <form [formGroup]="addCarForm" (ngSubmit)="onSubmit()">
    <div class="form-group row">
      <label for="name" class="col-sm-4 col-form-label"
        >Name<span class="text-danger">*</span></label
      >
      <div class="col-sm-8">
        <input
          type="text"
          id="name"
          class="form-control"
          formControlName="name"
          [ngClass]="{
            'is-invalid':
              addCarForm.get('name')?.invalid &&
              (addCarForm.get('name')?.dirty || addCarForm.get('name')?.touched)
          }"
        />
        <div
          *ngIf="
            addCarForm.get('name')?.invalid &&
            (addCarForm.get('name')?.dirty || addCarForm.get('name')?.touched)
          "
          class="invalid-feedback"
        >
          Name is required.
        </div>
      </div>
    </div>

    <!-- MPG -->
    <div class="form-group row">
      <label for="mpg" class="col-sm-4 col-form-label"
        >MPG<span class="text-danger">*</span></label
      >
      <div class="col-sm-8">
        <input
          type="number"
          id="mpg"
          class="form-control"
          formControlName="mpg"
          [ngClass]="{
            'is-invalid':
              addCarForm.get('mpg')?.invalid &&
              (addCarForm.get('mpg')?.dirty || addCarForm.get('mpg')?.touched)
          }"
        />
        <div
          *ngIf="
            addCarForm.get('mpg')?.invalid &&
            (addCarForm.get('mpg')?.dirty || addCarForm.get('mpg')?.touched)
          "
          class="invalid-feedback"
        >
          MPG is required and must be a positive number.
        </div>
      </div>
    </div>

    <!-- Cylinders -->
    <div class="form-group row">
      <label for="cylinders" class="col-sm-4 col-form-label"
        >Cylinders<span class="text-danger">*</span></label
      >
      <div class="col-sm-8">
        <select
          id="cylinders"
          class="form-control"
          formControlName="cylinders"
          [ngClass]="{
            'is-invalid':
              addCarForm.get('cylinders')?.invalid &&
              (addCarForm.get('cylinders')?.dirty ||
                addCarForm.get('cylinders')?.touched)
          }"
        >
          <option value="">Select Cylinders</option>
          <option *ngFor="let cylinder of cylinders" [value]="cylinder">
            {{ cylinder }} Cylinders
          </option>
        </select>
        <div
          *ngIf="
            addCarForm.get('cylinders')?.invalid &&
            (addCarForm.get('cylinders')?.dirty ||
              addCarForm.get('cylinders')?.touched)
          "
          class="invalid-feedback"
        >
          Cylinders is required.
        </div>
      </div>
    </div>

    <!-- Displacement -->
    <div class="form-group row">
      <label for="displacement" class="col-sm-4 col-form-label"
        >Displacement<span class="text-danger">*</span></label
      >
      <div class="col-sm-8">
        <input
          type="number"
          id="displacement"
          class="form-control"
          formControlName="displacement"
          [ngClass]="{
            'is-invalid':
              addCarForm.get('displacement')?.invalid &&
              (addCarForm.get('displacement')?.dirty ||
                addCarForm.get('displacement')?.touched)
          }"
        />
        <div
          *ngIf="
            addCarForm.get('displacement')?.invalid &&
            (addCarForm.get('displacement')?.dirty ||
              addCarForm.get('displacement')?.touched)
          "
          class="invalid-feedback"
        >
          Displacement is required and must be a positive number.
        </div>
      </div>
    </div>

    <!-- Horsepower -->
    <div class="form-group row">
      <label for="horsepower" class="col-sm-4 col-form-label"
        >Horsepower<span class="text-danger">*</span></label
      >
      <div class="col-sm-8">
        <input
          type="number"
          id="horsepower"
          class="form-control"
          formControlName="horsepower"
          [ngClass]="{
            'is-invalid':
              addCarForm.get('horsepower')?.invalid &&
              (addCarForm.get('horsepower')?.dirty ||
                addCarForm.get('horsepower')?.touched)
          }"
        />
        <div
          *ngIf="
            addCarForm.get('horsepower')?.invalid &&
            (addCarForm.get('horsepower')?.dirty ||
              addCarForm.get('horsepower')?.touched)
          "
          class="invalid-feedback"
        >
          Horsepower is required and must be a positive number.
        </div>
      </div>
    </div>

    <!-- Weight -->
    <div class="form-group row">
      <label for="weight" class="col-sm-4 col-form-label"
        >Weight<span class="text-danger">*</span></label
      >
      <div class="col-sm-8">
        <input
          type="number"
          id="weight"
          class="form-control"
          formControlName="weight"
          [ngClass]="{
            'is-invalid':
              addCarForm.get('weight')?.invalid &&
              (addCarForm.get('weight')?.dirty ||
                addCarForm.get('weight')?.touched)
          }"
        />
        <div
          *ngIf="
            addCarForm.get('weight')?.invalid &&
            (addCarForm.get('weight')?.dirty ||
              addCarForm.get('weight')?.touched)
          "
          class="invalid-feedback"
        >
          Weight is required and must be a positive number.
        </div>
      </div>
    </div>

    <!-- Acceleration -->
    <div class="form-group row">
      <label for="acceleration" class="col-sm-4 col-form-label"
        >Acceleration<span class="text-danger">*</span></label
      >
      <div class="col-sm-8">
        <input
          type="number"
          id="acceleration"
          class="form-control"
          formControlName="acceleration"
          [ngClass]="{
            'is-invalid':
              addCarForm.get('acceleration')?.invalid &&
              (addCarForm.get('acceleration')?.dirty ||
                addCarForm.get('acceleration')?.touched)
          }"
        />
        <div
          *ngIf="
            addCarForm.get('acceleration')?.invalid &&
            (addCarForm.get('acceleration')?.dirty ||
              addCarForm.get('acceleration')?.touched)
          "
          class="invalid-feedback"
        >
          Acceleration is required and must be a positive number.
        </div>
      </div>
    </div>

    <!-- Model Year -->
    <div class="form-group row">
      <label for="modelYear" class="col-sm-4 col-form-label"
        >Model Year<span class="text-danger">*</span></label
      >
      <div class="col-sm-8">
        <select
          id="modelYear"
          class="form-control"
          formControlName="modelYear"
          [ngClass]="{
            'is-invalid':
              addCarForm.get('modelYear')?.invalid &&
              (addCarForm.get('modelYear')?.dirty ||
                addCarForm.get('modelYear')?.touched)
          }"
        >
          <option value="">Select Model Year</option>
          <option *ngFor="let year of modelYears" [value]="year">
            {{ year }}
          </option>
        </select>
        <div
          *ngIf="
            addCarForm.get('modelYear')?.invalid &&
            (addCarForm.get('modelYear')?.dirty ||
              addCarForm.get('modelYear')?.touched)
          "
          class="invalid-feedback"
        >
          Model Year is required.
        </div>
      </div>
    </div>

    <!-- Origin -->
    <div class="form-group row">
      <label for="origin" class="col-sm-4 col-form-label"
        >Origin<span class="text-danger">*</span></label
      >
      <div class="col-sm-8">
        <select
          id="origin"
          class="form-control"
          formControlName="origin"
          [ngClass]="{
            'is-invalid':
              addCarForm.get('origin')?.invalid &&
              (addCarForm.get('origin')?.dirty ||
                addCarForm.get('origin')?.touched)
          }"
        >
          <option value="">Select Origin</option>
          <option *ngFor="let origin of origins" [value]="origin">
            {{ origin | capitalize }}
          </option>
        </select>
        <div
          *ngIf="
            addCarForm.get('origin')?.invalid &&
            (addCarForm.get('origin')?.dirty ||
              addCarForm.get('origin')?.touched)
          "
          class="invalid-feedback"
        >
          Origin is required.
        </div>
      </div>
    </div>

    <!-- Submit Button -->
    <div class="modal-footer mt-4">
      <button type="submit" class="btn btn-primary">Save</button>
      <button type="button" class="btn btn-danger" (click)="onCloseDialog()">
        Close
      </button>
    </div>
  </form>
</app-modal>
